@import "tailwindcss";

@theme {
    --color-blueColor: #0B70CB;
    --color-textGray: #71767b;
    --color-textGrayLight: #e7e9ea;
    --color-borderGray: #2f3336;
    --color-backGround: #181818;

    --breakpoint-xsm: 500px;
    --breakpoint-sm: 600px;
    --breakpoint-xmd: 700px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 900px;
    --breakpoint-xlg: 1024px;
}

.slider-container .slick-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

@layer utilities {
    .slick-center>div {
        @apply transition-transform duration-300 overflow-visible;
        transform: scale(1.5);
    }
}

@media (max-width: 999px) {
    .slick-center>div {
        transform: scale(1.25);
    }
}
.slick-prev::before,
.slick-next::before, 
div.slick-arrow:nth-child(1),
div.slick-arrow:nth-child(1)::before {
    content: " " !important;
    border-radius: 50%;
    background-color: var(--color-borderGray);
}


@media (max-width: 900px) {
    .slick-prev {
        left: -40px !important;
        z-index: 100 !important;
    }

    [dir='rtl'] .slick-prev {
        right: -40px !important;
        left: auto !important;
        content: "" !important;
    }

    .slick-next {
        right: -40px !important;
        content: "" !important;
    }

    [dir='rtl'] .slick-next {
        right: auto !important;
        left: -40px !important;
        content: "" !important;
    }
}

@media (max-width: 500px) {
    .slick-prev {
        left: -15px !important;
        z-index: 100 !important;
        content: "" !important;
    }

    [dir='rtl'] .slick-prev {
        right: -15px !important;
        left: auto !important;
        content: "" !important;
    }

    .slick-next {
        right: -15px !important;
        content: "" !important;
    }

    [dir='rtl'] .slick-next {
        right: auto !important;
        left: -15px !important;
        content: "" !important;
    }
}

/* تصغير باقي السلايدات */
.slick-slide .image-wrapper {
    transform: scale(0.9);
    opacity: 0.6;
    transition: all 0.4s ease-in-out;
}

.slick-slide .name-text {
    font-size: 0.75rem;
    color: gray;
    transition: all 0.3s ease-in-out;
}

.slick-slide .description-text {
    max-width: 240px;
    text-align: center;
}


/* تكبير الصورة والوصف فقط في السلايد اللي في المنتصف */
.slick-center .image-wrapper {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.slick-center .name-text {
    font-size: 1rem;
    opacity: 1;
    color: rgb(255, 255, 255) !important;
    transition: all 0.3s ease-in-out;
}

.slick-center .description-text {
    display: block;
    transition: all 0.3s ease-in-out;
}

.remove-3d-transform {
    transform: translateZ(0) translateX(0) rotateY(0deg);
    transition: transform .4s;
}

.custom-3d-transform {
    transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    outline: 30px solid #0B70CB;
    transition: transform .4s;
}

/* aside و animations */
.outer-nav,
.return {
    width: 45%;
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 0;
    align-content: center;
    will-change: transform, opacity;
}

.outer-nav {
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(0) rotateY(0deg);
    opacity: 1;
}

.return {
    transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateX(100%) rotateY(-45deg);
    opacity: 0;
}