@import "tailwindcss";

@theme{
    --color-blueColor: #0B70CB;
    --color-textGray: #71767b;
    --color-textGrayLight: #e7e9ea;
    --color-borderGray: #2f3336;
    --color-backGround: #181818;

    --breakpoint-xsm: 500px;
    --breakpoint-sm: 600px;
    --breakpoint-xmd: 700px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 900px;
    --breakpoint-xlg: 1024px;
}

.slider-container .slick-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
